<form class="form" #userForm="ngForm" [ngFormOptions]="{ updateOn: 'blur' }">
    <div class="form__row">
        <div class="form__item form__item-100">
            <mat-form-field class="form__input">
                <mat-label>Nome:</mat-label>
                <input
                    matInput
                    [(ngModel)]="userSelected.name"
                    type="text"
                    name="nome"
                    required
                >
            <mat-error>
                O <strong>Nome</strong> é obrigatório.
            </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="form__row">
        <div class="form__item form__item-50">
            <mat-form-field class="form__input">
                <mat-label>Usuário:</mat-label>
                <input 
                    matInput
                    ngModel
                    [(ngModel)]="userSelected.username"
                    #userNameControl="ngModel"
                    type="text"
                    name="usuario"
                    appInvalidUserName
                    required
                >
            <mat-error *ngIf="userNameControl.hasError('required')">
                O <strong>Nome de Usuário</strong> é obrigatório.
            </mat-error>
            <mat-error *ngIf="userNameControl.hasError('invalidUserPlaceholder')">
                Este <strong>Usuário</strong> já existe.
            </mat-error>
            </mat-form-field>
        </div>
        <div class="form__item form__item-50">
            <mat-form-field class="form__input">
                <mat-label>E-mail:</mat-label>
                <input 
                    matInput 
                    type="email"
                    ngModel
                    [(ngModel)]="userSelected.email"
                    #emailControl="ngModel"
                    name="email"
                    appInvalidEmail
                    required
                >
            <mat-error *ngIf="emailControl.hasError('required')">
                O <strong>E-mail</strong> é obrigatório.
            </mat-error>
            <mat-error *ngIf="emailControl.hasError('invalidEmail')">
                O <strong>E-mail</strong> está errado.
            </mat-error>
            <mat-error *ngIf="emailControl.hasError('invalidEmailPattern')">
                Este <strong>E-mail</strong> já existe.
            </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="form__row">
        <div class="form__item form__item-50">
            <mat-form-field class="form__input">
                <mat-label>Senha:</mat-label>
                <input 
                    matInput
                    type="text"
                    ngModel
                    [(ngModel)]="userSelected.password"
                    (ngModelChange)="getProgressBar($event)"
                    name="senha"
                    #passwordControlConfig="ngModel"
                    appInvalidPasswordStrength
                    required
                >
                <mat-error *ngIf="passwordControlConfig.hasError('required')">
                    A <strong>Senha</strong> é obrigatória.
                </mat-error>
                <mat-error *ngIf="passwordControlConfig.hasError('invalid-strength')">
                    Escolha uma <strong>Senha</strong> mais forte.
                </mat-error>
                <mat-progress-bar
                    [value]="progressBarValue"
                    [ngClass]="{
                        'progressBar__red': progressBarValue === 30 || progressBarValue === 0,
                        'progressBar__yellow': progressBarValue === 60,
                        'progressBar__green': progressBarValue === 100,
                    }"
                ></mat-progress-bar>
            </mat-form-field>
        </div>
        <div class="form__item form__item-50">
            <mat-form-field class="form__input">
                <mat-label>Confirmar Senha:</mat-label>
                <input 
                    matInput
                    type="text"
                    ngModel
                    #passwordConfirmControl="ngModel"
                    name="senha_confirm"
                    appInvalidPasswordRepeated
                    [password]="userSelected.password"
                    required
                >
                <mat-error *ngIf="passwordConfirmControl.hasError('required')">
                    A <strong>Confirmação de Senha</strong> é obrigatória.
                </mat-error>
                <mat-error *ngIf="passwordConfirmControl.hasError('invalid_password_confirm') && !passwordConfirmControl.hasError('required')">
                    A <strong>Senha</strong> está diferente.
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="form__row">
        <div class="form__item form__item-50">
            <mat-form-field class="form__input">
                <mat-label>Data de Nascimento:</mat-label>
                <input
                    matInput
                    ngModel
                    [ngModel]="userDate"
                    (ngModelChange)="setUserDatePtBr($event)"
                    [matDatepicker]="datepicker"
                    name="data"
                >
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancelar</button>
                        <button mat-raised-button matDatepickerApply color="primary">Confirmar</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>
        </div>
        <div class="form__item form__item-50">
            <mat-form-field class="form__input">
                <mat-label></mat-label>
                <input matInput type="text">
            </mat-form-field>
        </div>
    </div>
</form>