.form {
    margin-top: 30px;
    background-color: white;
    border-radius: 5px;

    &__row {
        padding: 10px;
        display: flex;
    }

    &__item {
        padding: 5px;
        &-100 {
            width: 100%;
        }
        &-50 {
            width: 50%;
        }
    }

    &__input {
        width: 100%;
    }

}

.form .progressBar {

    &__red {
        ::ng-deep &.mat-mdc-progress-bar.mat-primary {
            --mdc-linear-progress-active-indicator-color: #ee0000 !important;
        }
    }
    &__yellow {
        ::ng-deep &.mat-mdc-progress-bar.mat-primary {
            --mdc-linear-progress-active-indicator-color: #eeee00 !important;
        }
    }
    &__green {
        ::ng-deep &.mat-mdc-progress-bar.mat-primary {
            --mdc-linear-progress-active-indicator-color: #00ee00 !important;
        }
    }
}