.form {
    padding: 20px;
    max-width: 1000px;
    height: 100%;
    margin: auto;
}

.form_register {
    padding: 20px;
    margin-top: 15px;
    background-color: white;
    border-radius: 5px;
    input {
        width: 100%;
        display: block;
    }
}

.form_register .mat-form-field{
    padding: 10px;
    width: 50%;
}

.form_register #name{
    width: 100%;
}