<div class="form">
    <app-users-card-list></app-users-card-list>
    <form class="form_register" #form_register="ngForm" [ngFormOptions]=" { updateOn: 'submit' } ">
        <ng-container ngModelGroup="user" #user="ngModelGroup">
            <mat-form-field id="name" class="mat-form-field">
                <mat-label>Nome:</mat-label>
                <input
                    matInput
                    type="text"
                    name="name"
                    ngModel
                    required
                >
            </mat-form-field>
            
            <mat-form-field class="mat-form-field">
                <mat-label>Usuário:</mat-label>
                <input
                    matInput
                    type="text"
                    name="user"
                    ngModel
                    required
                >
                <mat-hint>
                    <p></p>
                    <p></p>
                    <p></p>
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="mat-form-field">
                <mat-label>Email:</mat-label>
                <input
                    matInput
                    type="email"
                    name="email"
                    ngModel
                    required
                >
                <mat-hint>
                    <p></p>
                    <p></p>
                    <p></p>
                </mat-hint>
            </mat-form-field>

            <mat-form-field  class="mat-form-field">
                <mat-label>Senha:</mat-label>
                <input
                    matInput
                    type="text"
                    name="password"
                    ngModel
                    required
                    >
                    <mat-hint>
                        <p></p>
                        <p></p>
                        <p></p>
                    </mat-hint>
            </mat-form-field>

            <mat-form-field class="mat-form-field">
                <mat-label>Confirmação de Senha:</mat-label>
                <input 
                    matInput
                    type="text" 
                    name="passwordConfirm"
                    ngModel
                    required
                >
                <mat-hint>
                    <p></p>
                    <p></p>
                    <p></p>
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="mat-form-field">
                <mat-label>Data de Nascimento</mat-label>
                <input ngModel #dateBirth="ngModel" name="dateBirth" matInput [matDatepicker]="picker" required>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-hint>DD/MM/YYYY</mat-hint>
            </mat-form-field>

            <mat-form-field class="mat-form-field">
                <mat-label>Estado:</mat-label>
                <select name="state" ngModel #state="ngModel" matNativeControl required>
                    <option [value]="1">Acre</option>
                    <option [value]="2">Alagoas</option>
                    <option [value]="3">Amapá</option>
                    <option [value]="4">Amazonas</option>
                    <option [value]="5">Bahia</option>
                    <option [value]="6">Ceará</option>
                    <option [value]="7">Distrito Federal</option>
                    <option [value]="8">"Espírito Santo"</option>
                    <option [value]="9">Goiás</option>
                    <option [value]="10">Maranhão</option>
                    <option [value]="11">Mato Grosso</option>
                    <option [value]="12">Mato Grosso do Sul</option>
                    <option [value]="13">Minas Gerais</option>
                    <option [value]="14">Pará</option>
                    <option [value]="15">Paraíba</option>
                    <option [value]="16">Paraná</option>
                    <option [value]="17">Pernambuco</option>
                    <option [value]="18">Piauí</option>
                    <option [value]="19">Rio de Janeiro</option>
                    <option [value]="20">Rio Grande do Norte</option>
                    <option [value]="21">Rio Grande do Sul</option>
                    <option [value]="22">Rondônia</option>
                    <option [value]="23">Roraima</option>
                    <option [value]="24">Santa Catarina</option>
                    <option [value]="25">São Paulo</option>
                    <option [value]="26">Sergipe</option>
                    <option [value]="27">Tocantins</option>
                </select>
                <mat-hint>
                    <p></p>
                    <p></p>
                    <p></p>
                </mat-hint>
            </mat-form-field>
        </ng-container>

        
        <!-- <table mat-table>
            <ng-container ngModelGroup="musics" #musics="ngModelGroup">
            
                <mat-divider class="divider"></mat-divider>
                <h2>Minhs Músicas:</h2>
            
                <ng-container matColumnDef="Título" ngModelGroup="music1" #music1="ngModelGroup">
                    <th mat-header-cell>Título</th>
                    <td mat-cell>u</td>
                </ng-container>
                <ng-container matColumnDef="Banda" ngModelGroup="music2" #music2="ngModelGroup">
                    <th mat-header-cell>Banda</th>
                    <td mat-cell>u</td>
                </ng-container>
                <ng-container matColumnDef="Gênero" ngModelGroup="music3" #umusic3="ngModelGroup">
                    <th mat-header-cell>Gênero</th>
                    <td mat-cell>u</td>
                </ng-container>
                <ng-container matColumnDef="Favorita">
                    <th>Favorita</th>
                    <td mat-cell>u</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayColumnsMusic"></tr>
                <tr mat-row *matRowDef="let row; columns: displayColumnsMusic"></tr>
            </ng-container>
        </table> -->
        <div class="save">
            <button type="button" mat-flat-button color="primary" (click)="onSubmit(form_register.value)">Salvar</button>
        </div>
    </form>
</div>