<h2 mat-dialog-title>Resumo das Alterações</h2>
<mat-dialog-content class="table-container">
    <table class="table">
        <thead>
            <h3>Antes</h3>
            <h3>Depois</h3>
        </thead>
        <tbody>
            <tr class="table__row">
                <div class="table__cell-row">
                    <th class="table__cell-header">Nome:</th>
                    <td class="table__cell"> {{ users.userBefore.name }} </td>
                </div>
                <div class="table__cell-row">
                    <th class="table__cell-header">Nome:</th>
                    <td class="table__cell"> {{ users.userAfter.name }} </td>
                </div>
            </tr>
            <tr class="table__row">
                <div class="table__cell-row">
                    <th class="table__cell-header">Usuário:</th>
                    <td class="table__cell"> {{ users.userBefore.username }} </td>
                </div>
                <div class="table__cell-row">
                    <th class="table__cell-header">Usuário:</th>
                    <td class="table__cell"> {{ users.userAfter.username }} </td>
                </div>
            </tr>
            <tr class="table__row">
                <div class="table__cell-row">
                    <th class="table__cell-header">Senha:</th>
                    <td class="table__cell"> {{ users.userBefore.password }} </td>
                </div>
                <div class="table__cell-row">
                    <th class="table__cell-header">Senha:</th>
                    <td class="table__cell"> {{ users.userAfter.password }} </td>
                </div>
            </tr>
            <tr class="table__row">
                <div class="table__cell-row">
                    <th class="table__cell-header">Data:</th>
                    <td class="table__cell"> {{ users.userBefore.birthDate }} </td>
                </div>
                <div class="table__cell-row">
                    <th class="table__cell-header">Data:</th>
                    <td class="table__cell"> {{ users.userAfter.birthDate }} </td>
                </div>
            </tr>
            <tr class="table__row">
                <div class="table__cell-row">
                    <th class="table__cell-header">Estado:</th>
                    <td class="table__cell"> {{ users.userBefore.state | state }} </td>
                </div>
                <div class="table__cell-row">
                    <th class="table__cell-header">Estado:</th>
                    <td class="table__cell"> {{ users.userAfter.state | state }} </td>
                </div>
            </tr>
            <tr class="table__row">
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 1 - Título:</th>
                    <td class="table__cell"> {{ users.userBefore.musics[0].title }} </td>
                </div>
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 1 - Título:</th>
                    <td class="table__cell"> {{ users.userAfter.musics[0].title }} </td>
                </div>
            </tr>
            <tr class="table__row">
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 1 - Banda:</th>
                    <td class="table__cell"> {{ users.userBefore.musics[0].band }} </td>
                </div>
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 1 - Banda:</th>
                    <td class="table__cell"> {{ users.userAfter.musics[0].band }} </td>
                </div>
            </tr>
            <tr class="table__row">
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 1 - Gênero:</th>
                    <td class="table__cell"> {{ users.userBefore.musics[0].genre | genre }} </td>
                </div>
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 1 - Gênero:</th>
                    <td class="table__cell"> {{ users.userAfter.musics[0].genre | genre }} </td>
                </div>
            </tr>
            <tr class="table__row">
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 1 - Favorita:</th>
                    <td class="table__cell"> {{ users.userBefore.musics[0].isFavorite | favorite }} </td>
                </div>
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 1 - Favorita:</th>
                    <td class="table__cell"> {{ users.userAfter.musics[0].isFavorite | favorite }} </td>
                </div>
            </tr>
            <tr class="table__row">
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 2 - Título:</th>
                    <td class="table__cell"> {{ users.userBefore.musics[1].title }} </td>
                </div>
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 2 - Título:</th>
                    <td class="table__cell"> {{ users.userAfter.musics[1].title }} </td>
                </div>
            </tr>
            <tr class="table__row">
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 2 - Banda:</th>
                    <td class="table__cell"> {{ users.userBefore.musics[1].band }} </td>
                </div>
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 2 - Banda:</th>
                    <td class="table__cell"> {{ users.userAfter.musics[1].band }} </td>
                </div>
            </tr>
            <tr class="table__row">
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 2 - Gênero:</th>
                    <td class="table__cell"> {{ users.userBefore.musics[1].genre | genre }} </td>
                </div>
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 2 - Gênero:</th>
                    <td class="table__cell"> {{ users.userAfter.musics[1].genre | genre }} </td>
                </div>
            </tr>
            <tr class="table__row">
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 2 - Favorita:</th>
                    <td class="table__cell"> {{ users.userBefore.musics[1].isFavorite | favorite }} </td>
                </div>
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 2 - Favorita:</th>
                    <td class="table__cell"> {{ users.userAfter.musics[1].isFavorite | favorite }} </td>
                </div>
            </tr>
            <tr class="table__row">
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 3 - Título:</th>
                    <td class="table__cell"> {{ users.userBefore.musics[2].title }} </td>
                </div>
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 3 - Título:</th>
                    <td class="table__cell"> {{ users.userAfter.musics[2].title }} </td>
                </div>
            </tr>
            <tr class="table__row">
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 3 - Banda:</th>
                    <td class="table__cell"> {{ users.userBefore.musics[2].band }} </td>
                </div>
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 3 - Banda:</th>
                    <td class="table__cell"> {{ users.userAfter.musics[2].band }} </td>
                </div>
            </tr>
            <tr class="table__row">
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 3 - Gênero:</th>
                    <td class="table__cell"> {{ users.userBefore.musics[2].genre | genre }} </td>
                </div>
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 3 - Gênero:</th>
                    <td class="table__cell"> {{ users.userAfter.musics[2].genre | genre }} </td>
                </div>
            </tr>
            <tr class="table__row">
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 3 - Favorita:</th>
                    <td class="table__cell"> {{ users.userBefore.musics[2].isFavorite | favorite }} </td>
                </div>
                <div class="table__cell-row">
                    <th class="table__cell-header">Música 3 - Favorita:</th>
                    <td class="table__cell"> {{ users.userAfter.musics[2].isFavorite | favorite }} </td>
                </div>
            </tr>
        </tbody>
    </table>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">Confirmar</button>
</mat-dialog-actions>